@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i);@import url(https://fonts.googleapis.com/css?family=Montserrat:600,600i,700,700i,800,800i);
body{
    margin:0;
    font-family:Open Sans,sans-serif;
    color:#404040;
    -webkit-font-smoothing:antialiased}
    h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:10px}
    h1{font-size:1.568rem}
    h1,h2{font-weight:600}
    h2{font-size:1.377rem}
    h3{font-size:1.21rem;font-weight:600}
    h4{font-size:1.063rem}h4,h5{font-weight:400}h5{font-size:.933rem}h6{font-size:.82rem;font-weight:600}p{font-size:.933rem;margin-top:0;margin-bottom:10px}a:active,a:focus,a:hover{text-decoration:underline}
    .MuiTypography-body1 {
        font-size: 15px !important;
        font-family: "Open Sans" !important;
    }
    .MuiRadio-colorSecondary.Mui-checked{
        color: #ff8800 !important;
    }
    .MuiRadio-colorSecondary :hover {
        color:#f06f31 !important;
    }
    .MuiIconButton-colorSecondary:hover {
        background-color: transparent !important;
    }
    .input{
        font-family: 'Open Sans';
        margin-top: 20px;
        height: 44px;
        border-radius: 4px;
        border: solid 1px #c0c0c0;
        width: 100%;
    }
   